/* Reset dan Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* h2 {
    text-align: center;
    color: #ffffff;
} */

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* garis pembatas */
.divider {
    border-top: 3px solid #001f3f;
    margin: 20px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Bagian Header */
.card-header {
    background-color: #001f3f; /* Abu-abu muda */
    padding: 15px;
    border-radius: 10px 10px 0 0; /* Membuat sudut atas melengkung */
    text-align: center;
}

.card-header h1 {
    font-size: 1.8rem;
    color: #ffffff; /* Warna teks */
    margin: 0;
}

.card-header h2 {
    font-size: 1.2rem;
    color: #ffffff; /* Warna teks */
    margin: 0;
}

/* Bagian Card */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: start;
}

/* Bagian Label */
.card label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: #666;
    margin: 10px 0 5px;
}

/* Bagian Input Group */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* memberikan ruang untuk icon dan input teks*/
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
}

.input-group input:focus {
    border-color: #007bff;
    outline: 1px solid #007bff;
}

.input-group .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #666;
}

/* Show Password Checkbox */
.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.show-password input {
    margin-right: 5px;
}

.show-password label {
    font-size: 0.9rem;
    color: #666;
}

/* Remember Me */
.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input {
    margin-right: 5px;
}

.remember-me label {
    font-size: 0.9rem;
    color: #666;
}

/* Bagian Button */
.card .btn {
    width: 100%;
    padding: 10px;
    background-color: #001f3f;
    color: #ffffff;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #007bff;
}

/* Untuk css lupa password */
.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Register Link */
.register-link {
    text-align: center;
    margin-top: 10px;
}
